@page "/"
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory

<PageTitle>Calculadora</PageTitle>

<h1 class="text-center">Calculadora</h1>

<EditForm Model="Calculation" OnValidSubmit="HandleSubmit" FormName="Calculadora" class="row">
    <DataAnnotationsValidator />
    <div class="col-md-6 d-flex flex-column justify-content-center">
        <InputNumber @bind-Value="Calculation.ValueA" class="form-control w-100" placeholder="Digite o primeiro valor" />
        <ValidationMessage For="@(() => Calculation.ValueA)" class="text-danger" />

        <InputNumber @bind-Value="Calculation.ValueB" class="form-control mt-2 w-100" placeholder="Digite o segundo valor" />
        <ValidationMessage For="@(() => Calculation.ValueB)" class="text-danger" />
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center">
        <button type="submit" class="btn btn-primary mb-2" @onclick='() => Calculation.Operation = "+"'>Adição</button>
        <button type="submit" class="btn btn-primary mb-2" @onclick='() => Calculation.Operation = "-"'>Subtração</button>
        <button type="submit" class="btn btn-primary mb-2" @onclick='() => Calculation.Operation = "*"'>Multiplicação</button>
        <button type="submit" class="btn btn-primary" @onclick='() => Calculation.Operation = "/"'> Divisão</button>
    </div>
</EditForm>

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert @AlertClass mt-3 text-center">
        @Message
    </div>
}

@code {
    private CalculationViwModel Calculation { get; set; } = new();
    private string? Message;
    private string AlertClass = "alert-success";

    private async Task HandleSubmit()
    {
        await CalculateAsync(Calculation.Operation);
    }

    public async Task CalculateAsync(string operation)
    {
        var n1 = Calculation.ValueA!.Value;
        var n2 = Calculation.ValueB!.Value;

        Calculation.Result = operation switch
        {
            "+" => n1 + n2,
            "-" => n1 - n2,
            "*" => n1 * n2,
            "/" => n1 / n2,
            _ => throw new InvalidOperationException("Operação inválida")
        };

        var newCalc = new CalculationDto
        {
            ValueA = n1,
            ValueB = n2,
            Operation = operation,
            Result = Calculation.Result,
            CreatedAt = DateTime.Now
        };

        var client = HttpClientFactory.CreateClient("CalcApi");
        var response = await client.PostAsJsonAsync("Calculadora?apikey=NIC202604", newCalc);

        if (!response.IsSuccessStatusCode)
        {
            Message = $"Erro ao armazenar os dados: {response.ReasonPhrase}";
            AlertClass = "alert-danger";
            return;
        }

        var result = await response.Content.ReadFromJsonAsync<int>();
        Message = $"Dados armazenados com sucesso, ID de Armazenamento {result}";
        AlertClass = "alert-success";

        Calculation.ValueA = 0;
        Calculation.ValueB = 0;
    }

    public class CalculationViwModel
    {
        [Required(ErrorMessage = "O primeiro valor é obrigatório")]
        public int? ValueA { get; set; }

        [Required(ErrorMessage = "O segundo valor é obrigatório")]
        public int? ValueB { get; set; }

        public string Operation { get; set; } = string.Empty;
        public int Result { get; set; }
    }
}