@page "/"
@inject IDialogService DialogService
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory

<PageTitle>Calculadora</PageTitle>

<FluentCard>
    <EditForm Model="Calculation" OnValidSubmit="HandleSubmit" FormName="Calculadora" class="row">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="text-center">Calculo</h3>
            <FluentButton Appearance="Appearance.Accent" @onclick="OpenCalculadoraForm">Histórico de Cálculos</FluentButton>
        </div>
        <DataAnnotationsValidator />
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <FluentNumberField Label="Valor A" Placeholder="Digite o primeiro valor" HideStep="true" @bind-Value="Calculation.ValueA"></FluentNumberField>
            <ValidationMessage For="@(() => Calculation.ValueA)" class="text-danger" />

            <FluentNumberField Label="Valor B" Placeholder="Digite o segundo valor" HideStep="true" @bind-Value="Calculation.ValueB"></FluentNumberField>
            <ValidationMessage For="@(() => Calculation.ValueB)" class="text-danger" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <FluentButton Style="margin: 5px" Appearance="Appearance.Accent" @onclick='() => CalculateAsync("+")'>Adição</FluentButton>
            <FluentButton Style="margin: 5px" Appearance="Appearance.Accent" @onclick='() => CalculateAsync("-")'>Subtração</FluentButton>
            <FluentButton Style="margin: 5px" Appearance="Appearance.Accent" @onclick='() => CalculateAsync("*")'>Multiplicação</FluentButton>
            <FluentButton Style="margin: 5px" Appearance="Appearance.Accent" @onclick='() => CalculateAsync("/")'> Divisão</FluentButton>
        </div>
    </EditForm>
    <div>
        @if (!string.IsNullOrEmpty(Message))
        {
            <FluentMessageBar Intent="@(IsSuccess ? MessageIntent.Success : MessageIntent.Error)">
                @Message
            </FluentMessageBar>
        }
    </div>
</FluentCard>

@code {
    private CalculoModel Calculation { get; set; } = new();
    private string? Message;
    private bool IsSuccess;

    private async Task HandleSubmit()
    {
        await CalculateAsync(Calculation.Operation);
    }

    public async Task CalculateAsync(string operation)
    {
        var n1 = Calculation.ValueA;
        var n2 = Calculation.ValueB;

        if (n1 == 0 && n2 == 0 && operation == "/")
        {
            Message = "Não é possível dividir por zero.";
            IsSuccess = false;
            return;
        }

        Calculation.Result = operation switch
        {
            "+" => n1 + n2,
            "-" => n1 - n2,
            "*" => n1 * n2,
            "/" => n1 / n2,
            _ => throw new InvalidOperationException("Operação inválida")
        };

        var newCalc = new CalculationDto
        {
            ValueA = n1,
            ValueB = n2,
            Operation = operation,
            Result = Calculation.Result,
            CreatedAt = DateTime.Now
        };

        var client = HttpClientFactory.CreateClient("CalcApi");
        var response = await client.PostAsJsonAsync("Calculadora?apikey=NIC202604", newCalc);

        if (!response.IsSuccessStatusCode)
        {
            Message = $"Erro ao armazenar os dados: {response.ReasonPhrase}";
            IsSuccess = false;
            return;
        }

        var result = await response.Content.ReadFromJsonAsync<int>();
        Message = $"Dados armazenados com sucesso, ID de Armazenamento {result}";
        IsSuccess = true;

        Calculation.ValueA = 0;
        Calculation.ValueB = 0;
    }

    private async Task OpenCalculadoraForm()
    {
        await DialogService.ShowDialogAsync<CalculadoraForm>(new DialogParameters()
        {
            Title = "Histórico de Cálculos",
            ShowDismiss = true,
            PrimaryAction = "Cancelar",
            SecondaryAction = null,
            Width = "50%"
        });
    }
}