@implements IDialogContentComponent
@inject IHttpClientFactory HttpClientFactory

<FluentDialog>
    <FluentDialogBody>
        <EditForm Model="Calculation" OnValidSubmit="HandleSubmit" FormName="Calculadora" class="row">
            <h3 class="text-center">Calculo</h3>
            <DataAnnotationsValidator />
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <FluentNumberField Label="Valor A" Placeholder="Digite o primeiro valor" HideStep="true" @bind-Value="Calculation.ValueA"></FluentNumberField>
                <ValidationMessage For="@(() => Calculation.ValueA)" class="text-danger" />

                <FluentNumberField Label="Valor B" Placeholder="Digite o segundo valor" HideStep="true" @bind-Value="Calculation.ValueB"></FluentNumberField>
                <ValidationMessage For="@(() => Calculation.ValueB)" class="text-danger" />
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <FluentButton Appearance="Appearance.Accent" @onclick='() => CalculateAsync("+")'>Adição</FluentButton>
                <FluentButton Appearance="Appearance.Accent" @onclick='() => CalculateAsync("-")'>Subtração</FluentButton>
                <FluentButton Appearance="Appearance.Accent" @onclick='() => CalculateAsync("*")'>Multiplicação</FluentButton>
                <FluentButton Appearance="Appearance.Accent" @onclick='() => CalculateAsync("/")'> Divisão</FluentButton>
            </div>
        </EditForm>
    </FluentDialogBody>
</FluentDialog>

@code {
    @code {
        private CalculoModel Calculation { get; set; } = new();
        private string? Message;
        private string AlertClass = "alert-success";

        private async Task HandleSubmit()
        {
            await CalculateAsync(Calculation.Operation);
        }

        public async Task CalculateAsync(string operation)
        {
            var n1 = Calculation.ValueA;
            var n2 = Calculation.ValueB;

            Calculation.Result = operation switch
            {
                "+" => n1 + n2,
                "-" => n1 - n2,
                "*" => n1 * n2,
                "/" => n1 / n2,
                _ => throw new InvalidOperationException("Operação inválida")
            };

            var newCalc = new CalculationDto
            {
                ValueA = n1,
                ValueB = n2,
                Operation = operation,
                Result = Calculation.Result,
                CreatedAt = DateTime.Now
            };

            var client = HttpClientFactory.CreateClient("CalcApi");
            var response = await client.PostAsJsonAsync("Calculadora?apikey=NIC202604", newCalc);

            if (!response.IsSuccessStatusCode)
            {
                Message = $"Erro ao armazenar os dados: {response.ReasonPhrase}";
                AlertClass = "alert-danger";
                return;
            }

            var result = await response.Content.ReadFromJsonAsync<int>();
            Message = $"Dados armazenados com sucesso, ID de Armazenamento {result}";
            AlertClass = "alert-success";

            Calculation.ValueA = 0;
            Calculation.ValueB = 0;
        }
    }
}
